@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Quicksand";
  src: url("fonts/Quicksand.ttf");
}

@font-face {
  font-family: "Coming Soon";
  src: url("fonts/ComingSoon.ttf");
}

* {
  font-family: "Quicksand";
}

.no-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
