@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Quicksand";
  src: url("fonts/Quicksand.ttf");
}

@font-face {
  font-family: "Coming Soon";
  src: url("fonts/ComingSoon.ttf");
}

@font-face {
  font-family: "Staatliches";
  src: url("fonts/Staatliches.ttf");
}

@font-face {
  font-family: "Bebas";
  src: url("fonts/Bebas.ttf");
}

* {
  font-family: "Quicksand";
}

.no-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.gradient-hover {
  position: relative;
}

.gradient-hover::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: radial-gradient(
    200px circle at var(--mouse-x) var(--mouse-y),
    rgb(82, 82, 82) 0%,
    transparent 100%
  );
}

.border-gradient {
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: flex-end;
  position: relative;
  @apply border-b-white;
}
.border-gradient:hover {
  scale: 110%;
  border-bottom-width: 4px;
  @apply border-b-purple-1;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-gray-600;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-300;
}
